.sb-footer {
    background-color: $color-primary;
    padding: 30px 0;
    margin-top: 50px;
    border-top: 1px solid rgba($color-white, 0.1);

    &__text {
        color: rgba($color-white, 0.7) !important;
        font-size: 0.9rem;
    }
}